* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: monospace;
    padding: calc(50vh - 200px) calc(50vw - 200px) calc(50vh - 200px) calc(50vw - 200px);


}

.page {

    height: 400px;
    width: 400px;
    background: black;
    color: yellow;
    padding: 50px 0px;
    box-sizing: border-box;
    text-align: center;
    outline: yellow solid 1px;
    line-height: 1.5;
    overflow: scroll;

}

.fleasdownload {
    color: yellow; 
    font-size: 0.7em; 
}

article > p, ul {
    padding: 0px 25px;
    text-align: left;
    list-style-position: inside;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;    
}

#downloadLink:hover {
    text-decoration: none;
    color: lime;
    cursor: pointer;
}

::selection {
    background-color: yellow;
    color: black;
}